@import '../../../resources/mixins';

.my_contests {

	h4 {
		font-weight: 600;
	}

	.card {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

		.card-header {
			border-color: $border1;
		}

		.card-body {
			font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	}

	.utils__title {
		padding-top: 10px;

		img {
			width: 25px;
			height: 25px;
		}
		h4{
			margin-left: 10px;
		}
		label {
			font-size: 16px;
			color: $text-darken;
		}
		.ant-statistic {
			display: inline-block;
		}
		.ant-statistic {
			margin-top: -5px;
		}
	}

	.desktop-body {
		padding: 15px 40px;
	}

	.mobile-body {
		padding: 15px 10px;
	}



	&__search{
		width: 250px;
		padding: 15px 15px;
		border: 1px solid $border1;
		border-radius: 5px;
		background-color: rgb(242, 244, 248);


		&__input {
			margin-bottom: 15px;

			input {
				color: $black;
				border-radius: 20px;
				padding-left: 35px;
				font-size: 15px;
			}

			.ant-input-suffix {
				display: absolute;
				left: 12px;
				width: 10px;
				top: 50%;
			}

			.ant-input-search-icon {
				font-size: 16px;
			}
		}

		&__title {
			display: block;
			margin-top: 15px;
			margin-bottom: 5px;
			font-weight: 550;
			font-size: 15px;
			text-align: center;
		}

		.card {
			margin-top: 30px;
			box-shadow: unset;
		}
		.card-body {
			padding: 10px;
		}

		h4 {
			text-align: center;
		}

		.title {
			color: $mtext;
			margin-top: 15px;
			margin-bottom: 5px;
			font-weight: 500;
			font-size: 15px;
		}

		.value {
			color: $mtext;
			font-size: 18px;
		}

		&__sel {
			width: 100%;

			.ant-radio-button-wrapper-checked{
				background-color: white;
				outline: 3px solid rgba(1, 144, 254, 0.06);
			}

			&__nx {
				width: 47%;
				text-align: center;
				border-radius:4px !important;
				background-color: #fafbfd;

				.anticon{
					vertical-align: 0.08em;
					margin-left: 15px;
				}
			}

			&__nx:first-child {
				margin-right: 6%;
			}

			&__type {
				width: 100%;
				text-align: center;
				background-color: #fafbfd;
			}

			&__type:first-child {
				width: calc(100% + 1px);
				margin-left: -1px;
				border-radius: 4px 4px 0 0 !important;
			}

			&__type:last-child {
				border-radius: 0 0 4px 4px !important;
			}

			&__bet {
				width: 100%;
				text-align: center;
				background-color: #fafbfd;
				letter-spacing: 0.05em;
			}

			&__bet:first-child {
				width: calc(100% + 1px);
				margin-left: -1px;
				border-radius: 4px 4px 0 0 !important;
			}

			&__bet:last-child {
				border-radius: 0 0 4px 4px !important;
			}

		}

		&__clear {
			margin-top: 15px;
			a {
				color: $select !important;
				font-size: 15px;
			}

			a:hover {
				text-decoration: underline !important;
			}
		}

		.ant-radio-button-wrapper {
			color: #1f2836;
			font-size: 14px;
		}

		.ant-radio-button-wrapper:hover {
			color: $select;
		}

		.ant-radio-button-wrapper-checked {
			color: $select;
		}
	}

	&__contests{
		width: calc(100% - 250px);
		padding-left: 20px;
		padding-right: 0;
	}

	&__table{

		.y-button {
			//width: 80%;
			margin: auto;
			height: 36px !important;
			font-weight: 600;
			letter-spacing: 0.09em;
		}

		.tag {
			height: 30px;
			margin: 2px auto;
			align-items: center;
			display: inline-flex;
			font-weight: 600;
			letter-spacing: 0.09em;
		}

		.ant-table-body {
			border: 1px solid $border1;
			border-radius: 4px;
		}

		.ant-table-pagination {
			margin-top: 20px;
			margin-right: 20px;
		}

		tbody{
			tr {
				cursor: pointer;
				height: 61px;
			}
		}

		th div {
			font-size: 15px;
			font-weight: 600;
			color: #514d6a;
		}

		td {
			font-size: 13px;
			color: #1f2836;
		}

		tr:last-child {
			td{
				border-bottom: 0 !important;
			}
		}

		.col-center, .col-act {
			text-align: center;
		}

		.col-sport {
			padding-left: 30px;
		}
	}

	.filter {
		font-size: 16px;
		color: $select !important;
	}
}

.ant-drawer-wrapper-body {
	position: absolute;
	background-color: rgb(242, 244, 248);

	.ant-drawer-header {
		border-bottom-width: 0px;
	}
	.ant-drawer-body {
		padding-top: 0px;
		padding-bottom: 100px;

		.card-body {
			padding: 10px;
		}
		h4 {
			text-align: center;
		}

		.title {
			color: $mtext;
			margin-top: 15px;
			margin-bottom: 5px;
			font-weight: 500;
			font-size: 15px;
		}

		.value {
			color: $mtext;
			font-size: 18px;
		}
	}

	&__input {
		input {
			color: $black;
			border-radius: 20px;
			padding-left: 35px;
			font-size: 15px;
		}

		.ant-input-suffix {
			display: absolute;
			left: 12px;
			width: 10px;
			top: 50%;
		}

		.ant-input-search-icon {
			font-size: 16px;
		}
	}

	&__title {
		display: block;
		margin-top: 15px;
		margin-bottom: 5px;
		font-weight: 550;
		font-size: 15px;
	}

	&__sel {
		width: 100%;

		.ant-radio-button-wrapper-checked{
			background-color: white;
			outline: 3px solid rgba(1, 144, 254, 0.06);
		}

		&__nx {
			width: 47%;
			text-align: center;
			border-radius:4px !important;
			background-color: #fafbfd;

			.anticon{
				vertical-align: 0.08em;
				margin-left: 15px;
			}
		}

		&__nx:first-child {
			margin-right: 6%;
		}

		&__type {
			width: 100%;
			text-align: center;
			background-color: #fafbfd;
		}

		&__type:first-child {
			width: calc(100% + 1px);
			margin-left: -1px;
			border-radius: 4px 4px 0 0 !important;
		}

		&__type:last-child {
			border-radius: 0 0 4px 4px !important;
		}

		&__bet {
			width: 100%;
			text-align: center;
			background-color: #fafbfd;
		}

		&__bet:first-child {
			width: calc(100% + 1px);
			margin-left: -1px;
			border-radius: 4px 4px 0 0 !important;
		}

		&__bet:last-child {
			border-radius: 0 0 4px 4px !important;
		}

	}

	&__clear {
		margin-top: 15px;
		a {
			color: $select !important;
			font-size: 15px;
		}

		a:hover {
			text-decoration: underline !important;
		}
	}

	.ant-radio-button-wrapper {
		color: #1f2836;
		font-size: 14px;
	}

	.ant-radio-button-wrapper:hover {
		color: $select;
	}

	.ant-radio-button-wrapper-checked {
		color: $select;
	}
}

.ant-drawer-title {
	font-size: 17px;
	font-weight: 600;
	color: $black;
}

.ant-drawer-header {
	background-color: rgb(242, 244, 248);
}

.ant-drawer-close {
	svg {
		font-size: 18px;
		margin-top: -8px;
		color: $black;
	}
}

